.filters-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 20px solid var(--ttv-color-primary);
}

.filters-section > h3 {
  margin-top: 2rem;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.searchByEditorial,
.searchByTitleOrAuthor,
.searchByPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px var(--ttv-color-primary);
  border-radius: 10px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .filters-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .filters {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 200px; */
    /* height: 100px; */
    justify-content: center;
    align-items: center;
  }

  .filters-section > h3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .filters-section {
    display: flex;
    flex-direction: column;
  }

  .filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
