.leftHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.leftHeader > h2 {
    color: var(--ttv-color-light);
    font-style: italic;
  }

.leftHeader > h2 > span {
    color: var(--ttv-color-primary);
}

.leftHeader > img {
  width: 40px;
}
