footer {
    width: 100%;
    height: 10svh;
    display:flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

footer > a > img {
    width: 35px;
    height: 35px;
}

footer > p {
    color: var(--ttv-color-light);
}

footer > img {
    width: 35px;
    height: 35px;
}